<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-uppercase" th:with="text=${visit['new']} ? 'Add Visit' : 'Edit Visit'"  th:text="${text}"></h2>
      </div>
      <div class="card-body">
        <div class="form-group mb-3">
          <label class="form-label">Owner</label>
          <div th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}" class="text-uppercase fw-bold fs-2"></div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Pet</label>
          <div class="d-flex justify-content-between align-items-center">
            <div th:text="${pet.name}" class="fs-4"></div>
            <div>
              <span class="badge"
                    th:class="'badge ' + (${pet.petType.name} == 'Dog' ? 'text-bg-primary' : (${pet.petType.name} == 'Cat' ? 'text-bg-success' : 'text-bg-secondary'))"
                    th:text="${pet.petType.name}">
              </span>
            </div>
            <div class="fs-5" th:text="${#temporals.format(pet.birthDate, 'dd/MM/yyyy')}"></div>
          </div>
        </div>
        <form th:object="${visit}" class="form-horizontal" method="post">
          <div class="form-group has-feedback">
            <input
                    th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
            <input
                    th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-end align-items-center">
              <input type="hidden" name="petId" th:value="${pet.id}" />
              <button class="btn btn-success mb-3" type="submit">Add Visit</button>
            </div>
          </div>
        </form>
        <hr class="mt-3">
        <b>Previous Visits</b>
        <div class="p-3 mb-1 m-1" th:if="${#lists.isEmpty(visit.pet.visits)}">
          <div class="text-center text-muted">
            <h5>No visits found</h5>
            <p>This pet doesn't have any visits yet.</p>
          </div>
        </div>
        <table class="table" th:if="${not #lists.isEmpty(visit.pet.visits)}">
          <tr>
            <th>Date</th>
            <th>Description</th>
          </tr>
          <tr th:each="visit : ${pet.visits}">
            <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
            <td th:text=" ${visit.description}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
