.text-important {
    font-size: 2rem;
    font-weight: bold;
}
.text-sub-important {
    font-size: 1.5rem;
    font-weight: bold;
}

.border-left {
    border-left: 1px solid #dee2e6;
}

.form-label {
    font-weight: bold;
}
